unsafe-perm = true
save-exact = true

registry=https://bahnhub.tech.rz.db.de/artifactory/api/npm/npm-remote
@clearlydefined:registry=https://npm.pkg.github.com

proxy=http://webproxy.comp.db.de:8080
https-proxy=http://webproxy.comp.db.de:8080
noproxy=localhost,127.0.0.*,10.*,192.168.*,db.de,signintra.com,intranet.deutschebahn.com,intranet-test.deutschebahn.com,intranet.dbschenker.com,service.deutschebahn.com,dbplanet.deutschebahn.com,bahnhub.tech.rz.db.de
